html {
  color: white;
  background-color: black;
}

.table {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.cell {
  box-sizing: border-box;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  white-space: nowrap;
  overflow: initial;
}

.row {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  z-index: 0;
  overflow: initial;
}

.color-blue {
  color: lightblue !important;
}

.color-yellow {
  color: yellow !important;
}
